<div class="tabs-content">
  <section class="show-hide">
    <div class="table-title">
      <h2 class="heading-medium">
      <%= @tasks.count =%> datasets need to be updated
      </h2>
    </div>
    <table>
      <thead>
        <tr>
          <th class="sortable-heading name">
            <a href="" class="sort-ascending">Name</a>
          </th>
          <th class="sortable-heading update-by">
            <a href=""class="sort-descending">Update by</a>
          </th>
          <th class="actions">
            <span class="visuallyhidden">Actions</span>
          </th>
        </tr>
      </thead>
      <tbody>

      <% @datasetsUpdate.each do |dataset| %>
          <tr class="show-hide-item">
            <th>
              <a href=""><%= dataset.title =%></a>
            </th>
            <td>
              <span class="update-date">03 Feb 2017</span>
              <div class="overdue">
                Overdue
              </div>
            </td>
            <td class="actions">
              <a class="update" href="">Update
              </a>
            </td>
          </tr>
        <% end %>
      </tbody>
      <tfoot>
        <tr>
          <td><a class="toggle" style="display:none">Show all</a></td>
        </tr>
      </tfoot>
    </table>
  </section>

  <section class="show-hide">
    <div class="table-title">
      <h2 class="heading-medium">
        <%=@tasks.count=%> datasets have broken data links
      </h2>
    </div>
    <table>
      <thead>
        <tr>
          <th class="sortable-heading name">
            <a href="" class="sort-ascending">Name</a>
          </th>
          <th class="sortable-heading broken-links">
            <a href="" class="sort-ascending link-count">Broken links</a>
          </th>
          <th class="actions">
            <span class="visuallyhidden">Actions</span>
          </th>
        </tr>
      </thead>
      <tbody>
        <% @datasetsBroken.each do |dataset| %>
          <tr class="show-hide-item">
            <th>
              <a href=""><%=dataset.title=%></a>
            </th>
            <td class="broken-links"><div class="link-count">3</div></td>
            <td class="actions">
              <a class="update" href="">Fix</a>
            </td>
          </tr>
        <% end %>
      </tbody>
      <tfoot>
        <tr>
          <td><a class="toggle" style="display:none">Show all</a>
          </td>
        </tr>
      </tfoot>
    </table>
  </section>

  <div id="stats" class="js-hidden" style="display: none">
    <div id="orgs" style="display: none">{{ orgs }}</div>
    <div id="api-endpoint" style="display: none">{{ api_endpoint }}</div>
    <h2 class="heading-medium">Most popular</h2>
    <table>
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Downloads</th>
        </tr>
      </thead>
      <tbody>
        <tr id="row-template" style="display: none">
          <td class="stats-title"></td>
          <td>
            <span class="stats-downloads"></span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
