<h1 class="heading-large">Tasks</h1>
<div class="tasks">
  <div class="tabs">
    <h2 class="heading-small">My tasks<div class="tabs__ie-fix"></div></h2>
    <div class="heading-small">
      <%= link_to "#{@organisation.title} tasks", tasks_organisation_path %>
    </div>
  </div>
  <%= render partial: 'base' %>
</div>
