<% content_for :page_title do %>
    Select frequency -
<% end %>

<main role="main" id="content">
  <h1 class="heading-large">How frequently is this dataset updated?</h1>
  <div class="datasets">
      <% if @dataset.errors.any? %>
		  <div class="error-summary" role="group" aria-labelledby="error-summary-heading-example-1" tabindex="-1">
			  <h1 class="heading-medium error-summary-heading" id="error-summary-heading-example-1">
				There was a problem
			  </h1>
			  <ul class="error-summary-list">
                  <% @dataset.errors.each do |attr, message| %>
                      <li>
                          <a href="#<%= attr.to_s %>_form_group">
                              <%= "#{attr.to_s.humanize} #{message}" %>
                          </a>
                          <span class="visuallyhidden">.</span>
                      </li>
				  <% end %>
			  </ul>
		  </div>
      <% end %>

      <%= form_for @dataset, url: new_frequency_dataset_path(@dataset), method: 'post' do |f| %>
          <%= f.submit 'Save and continue', class: 'button' %>
      <% end %>
  </div>
</main>
