<div class="form-group" id="start_date_form_group">
  <fieldset>
    <legend>
      <span class="form-label-bold">
          Time period for this link
          <span class="form-hint">For example, 3 2016</span>
      </span>
    </legend>

    <div class="form-date">
      <div class="form-group form-group-month<% if @datafile.errors[:start_month].present? %> form-group-error<% end %>">
        <label for="start_month">Month</label>
        <% if @datafile.errors[:start_month].present? %>
          <span class="error-message">Please enter a valid month</span>
        <% end %>
        <%= text_field_tag "datafile[start_month]", @datafile.start_month, id: "start_month", class: "form-control" %>
      </div>

      <div class="form-group form-group-year<% if @datafile.errors[:start_year].present? %> form-group-error<% end %>">
        <label for="start_year">Year</label>
        <% if @datafile.errors[:start_year].present? %>
          <span class="error-message">Please enter a valid year</span>
        <% end %>
        <%= text_field_tag "datafile[start_year]", @datafile.start_year, id: "start_year", class: "form-control" %>
      </div>
    </div>
  </fieldset>
</div>
