<div class="form-group">
	<fieldset>
    <legend>
      <span class="form-label-bold">Time period of this link</span>
    </legend>
		<div class="form-date">
			<div id="year_form_group" class="form-group form-group-year ">
				<label class="form-label" for="period_year">Year</label>
        <span class="form-hint">For example, 2016</span>
				<%= text_field_tag 'datafile[start_year]', @datafile.start_year, id: "period_year", class: "form-control" %>
			</div>
		</div>
	</fieldset>
</div>
