<h1 class="heading-large">Manage your datasets</h1>

<%= render "manage/shared/search" %>

<div class="">
  <div class="dgu-tabs">
    <h2 class="heading-small">My datasets<div class="dgu-tabs__ie-fix"></div></h2>
    <div class="heading-small">
      <%= link_to "#{@organisation.title} datasets", manage_organisation_path(:q => @q) %>
    </div>
  </div>
  <%= render partial: 'base' %>
</div>
