<p>
    <a href="/dataset/new" class="secondary-button">
     Create a dataset
    </a>
</p>

<form method="GET" action="" id="filter-dataset-form" class="form">
  <fieldset>
    <legend class="visuallyhidden">
      Filter datasets by name
    </legend>

    <div class="form-group wide-search-bar">
      <label for="q">
        <div>Search all datasets</div>
        <input class="form-control" id="q" name="q" type="text" autocomplete="off" value="<%= @q %>">
      </label>
      <button class="button" id="search" name="search">Search</button>
    </div>
  </fieldset>
</form>
