 <main role="main" tabindex="-1">
  <div class="masthead">
    <div class="grid-row inner">
      <div class="column-two-thirds">
        <h1 class="heading-xlarge">
          Publish and update data for your organisation
        </h1>
        <p class="lede">
          You must create an account to use this service.
        </p>
        <p class="lede">
          If you already have an account, sign in to publish a new dataset
          or update an existing one.
        </p>

        <a class="button button-get-started" href="" role="button">
          Sign in
        </a>
      <span class="login-white">
        or <a href="">create an account</a>
      </span>
    </div>
  </div>
</div>
</main>

<main id="content" role="main" tabindex="-1">
  <div class="grid-row contact">
    <div class="column-two-thirds">
      <h2 class="heading-large">Contact the data.gov.uk team</h2>
      <p>
        data.gov.uk is built and supported by a full time team at
        Government Digital Service.
      </p>
      <p>To contact the team email:</p>
      <p><a href="mailto:team@data.gov.uk">team@data.gov.uk</a></p>
    </div>
  </div>
</main>
