<!-- Temporary template, remove when no longer necessary -->

<% content_for :page_title do %>
    Organisation quality -
<% end %>

<div class="grid-row">
    <h1 class="heading-large">
        Metadata quality for all organisations
    </h1>

  <table>
    <thead>
      <tr>
        <th>Organisation</th>
        <th>Highest score</th>
        <th>Lowest score</th>
        <th>Median score</th>
      </tr>
    </thead>
    <tbody>
      <% @scores.each do |score| %>
      <tr>
        <td>
          <%= score.organisation_title %>
        </td>
        <td><%= score.highest %></td>
        <td><%= score.lowest %></td>
        <td><%= score.median %></td>
      </tr>
      <% end %>
    </tbody>
  </table>

</div>
