development:
  host: '<%= ENV['REDIS_IP'] || "localhost" %>'
  port: '<%= ENV['REDIS_PORT'] || 6379 %>'
  network_timeout: 5

test:
  host: '<%= ENV['REDIS_IP'] || "localhost" %>'
  port: '<%= ENV['REDIS_PORT'] || 6379 %>'
  network_timeout: 5


staging:
  host: '<%= ENV['REDIS_IP'] %>'
  port: '<%= ENV['REDIS_PORT'] %>'
  password: '<%= ENV['REDIS_PASSWORD'] %>'
  network_timeout: 5

production:
  host: '<%= ENV['REDIS_IP'] %>'
  port: '<%= ENV['REDIS_PORT'] %>'
  password: '<%= ENV['REDIS_PASSWORD'] %>'
  network_timeout: 5
