// Components

table.check-your-answers {
  margin-top: 1em;
  table-layout: fixed;
  td.dataset-item {
    width: 22%;
  }
  th, td {
    vertical-align: top;
  }
  th { width: 12em; }
  td.file-list {
    overflow-x: hidden;
    ul {
      width: 2000px;
    }
  }
  td.actions {
    width: 5em;
  }
}

table.manage-data {
  td {
    padding-left: .3em;
    padding-right: .3em
  }
  tbody tr:hover {
    background-color: $panel-colour;
  }
  tr td.actions {
    width: 8em;
    a + a {
      margin-left: .7em;
    }
  }
}

// == show-all =================================================================

.show-all__toggle {
  color: $link-colour;
  cursor: pointer;
}

// == location =================================================================

.dgu-location {
  &__button {
    background: $page-colour;
    border: none;
    padding: 0;
    color: $link-colour;
    cursor: pointer;
    text-decoration: underline;
  }
  &__input {
    display: block;
  }
}

// == customisation of the typeahead component ====================-------------

.twitter-typeahead {
  width: 100%;
  .tt-menu.tt-open {
    width: 66.6%;
    @include media(mobile) {
      width: 100%;
    }
    border: 3px solid orange;
    border-top: none;
    left: -3px!important;
  }
  .tt-cursor {
    background: $grey-3;
  }
  .tt-hint {
    color: $grey-1;
  }
  .tt-menu {
    border: 1px solid $grey-1;
    background: $page-colour;
    overflow: hidden;
  }
  .tt-dropdown-menu {
      width: 100%;
  }
  .tt-highlight {
    text-decoration: underline;
  }
  .tt-cursor {
    color: white;
    background: $link-colour;
  }
  .tt-suggestion {
    padding-left: 2px;
  }
}

// =============================================================================

th.sortable-heading {
  position: relative;
  font-weight: normal;
  a:visited {
    color: $link-colour;
  }
}

.sort-ascending, .sort-descending {
  font-weight: bold;
}

.sort-ascending::after {
  content: "\00a0\00a0\25BC";
  position: absolute;
  font-size: 12px;
  top: 1.6em;
}

.sort-descending::after {
  content: "\00a0\00a0\25B2";
  position: absolute;
  font-size: 12px;
  top: 1.6em;
}


.pagination span a:visited {
  color: $link-colour;
}

a.danger, a.danger:visited {
  color: $error-colour;
}

// Tabs

div.tabs {
  > h2 {
    display: inline-block;
    position: relative;
    top: 1px;
    margin: 0;
    padding: 15px;
    border-width: 1px 1px 0px 1px;
    border-color: $grey-2;
    border-style: solid;
    background: $page-colour;
  }
  > div {
    display: inline-block;
    margin: 0;
    padding: 15px;
    padding-bottom: 14px;
  }
  a:visited {
    color: $link-colour;
  }
  div.ie-fix {
    // We need to add this in order to make up for IE's box model accuracy errors
    position:absolute;
    top: 2em;
    left: 0px;
    width: 100%;
    height: 20px;
    background: $page-colour;
  }
}

div.tabs-content {
  border-top: 1px solid $grey-2;
  padding-top: 1em;
}

// start page

.masthead {
  margin: 0;
  background: $alpine-fresh;
  color: $page-colour;
  .button-get-started {
    color: $alpine-fresh;
    background-color: $page-colour;
  }
  .login-white {
    line-height: 42px;
  }

  a {
    color: $page-colour;
  }

  // Start now buttons
  .button-start,
  .button-get-started {
    @include bold-24;
    background-image: file-url("icon-pointer-green.png");
    background-repeat: no-repeat;
    background-position: 95% 50%;
    padding: em(5) em(41) em(6) em(16);

    @include device-pixel-ratio {
      background-image: file-url("icon-pointer-green-2x.png");
      background-size: 30px 19px;
    }

    @include ie(6) {
      background-image: file-url("icon-pointer-green-2x.png");
    }
  }
}

.masthead .inner, .contact {
  margin: 0 auto;
  padding-bottom: 3em;
  max-width: 960px;
}

// navigation bar

nav ul {
  list-style-type: none;
  margin-bottom: 1em;
  li {
    margin-bottom: 1em;
    a {
      text-decoration: none;
      &:visited {
        color: $link-colour;
      }
    }
  }
}

table {
  margin-bottom: 1em;
}

// tasks pages

.tasks {
  .bignum {
    font-size: 200%;
    padding-right: .5em;
  }
  .table-title {
    > h2 {
      display: table-cell;
      width: 100%;
      vertical-align: baseline;
    }
    > div {
      display: table-cell;
      min-width: 10em;
      vertical-align: baseline;
      text-align: right;
    }
  }
  .update-date {
    float: left;
    width: 6em;
  }
  .overdue {
    display: inline-block;
    color: $error-colour;
    border-left: 4px solid $error-colour;
    padding-left: 10px;
    margin-left: 2px;
  }
  .passed {
    color: $grey-1;
  }
  h2 {
    margin-bottom: 0;
  }
  table {
    margin-bottom: 2em;
    &.todos {
      border-top: 1px solid $grey-2;
    }
    tbody tr:hover {
        background-color: $panel-colour;
    }
    thead {
      th.name {
        width: 60%;
      }
      th.update-by {
        width: 25%;
      }
      th.broken-links {
        width: 25%;
        padding-right: 7px;
      }
      th.actions {
        width: 10%;
      }
    }
    thead td, tbody td {
      padding-left: .3em;
      padding-right: .3em;
      .nb-downloads {
        display: inline-block;
        min-width: 3em;
      }
    }
    td {
      .text-supporting {
        color: $grey-1;
      }
      &.broken-links {
        text-align: right;
        .link-count {
          width: 5em;
        }
      }
    }
  }
}

// user page

ul.user-details {
  li {
    margin-bottom: 1em;
    border-bottom: 1px solid $grey-2;
  }
  div.label {
    display: inline-block;
    font-weight: bold;
    width: 8em;
  }
}
