  // =============================================================================
// mixins for components

@mixin actions {
  text-align: right;
}


// =============================================================================
// Check Your Answers table

.dgu-checklist {
  margin-top: 1em;
  table-layout: fixed;
  &__heading {
    width: 22%;
  }
  th, td {
    vertical-align: top;
  }
  th {
    width: 12em;
  }
  &__actions {
    width: 5em;
  }
}

// =============================================================================
// Manage Datasets table

.dgu-datasets-table {
  td {
    padding-left: .3em;
    padding-right: .3em
  }
  &__actions {
    width: 8em;
    a + a {
      margin-left: .7em;
    }
  }
}

// == show-all =================================================================

.dgu-show-all__toggle {
  cursor: pointer;
}

// == location =================================================================

.dgu-location {
  width: 66%;
  label {
    float: left;
    width: 100%;
    span.form-label-bold {
      display: inline;
    }
  }
  &__button-add, &__button-del {
    border: none;
    padding: 0;
    cursor: pointer;
    text-decoration: underline;
  }
  &__button-del {
    float: right;
  }
  &__input {
    display: block;
    width: 100%;
  }
}

// =============================================================================
// Sortable column in table

.dgu-sortable-column {

  &__heading {
    position: relative;
    font-weight: normal;

    &__asc, &__desc {
      font-weight: bold;
    }

    &__asc::after {
      content: "\00a0\00a0\25BC";
      position: absolute;
      font-size: 12px;
      top: 1.6em;
    }

    &__desc::after {
      content: "\00a0\00a0\25B2";
      position: absolute;
      font-size: 12px;
      top: 1.6em;
    }
  }

}

// pagination controls =========================================================

.dgu-pagination {
  border-top: solid;
  border-width: thin;
  border-color: grey;
  margin-top: 25px;
  padding-top: 25px;
  &__numbers {
    padding-left: 20px;
    float:right;
    word-spacing: 6px;
  }
}

// =============================================================================
// Tabs

.dgu-tabs {
  > h2 {
    display: inline-block;
    position: relative;
    top: 1px;
    margin: 0;
    padding: 15px;
    border-width: 1px 1px 0px 1px;
    border-style: solid;
  }
  > div {
    display: inline-block;
    margin: 0;
    padding: 15px;
    padding-bottom: 14px;
  }

  &__ie-fix {
    // We need to add this in order to make up for IE's box model accuracy errors
    position:absolute;
    top: 2em;
    left: 0px;
    width: 100%;
    height: 20px;
  }

  &__content {
    padding-top: 1em;
  }
}


// =============================================================================
// start page

.dgu-masthead {
  margin: 0;

  &__login-white {
    line-height: 42px;
  }

  &__button-get-started {
    background-image: url(asset-path("icon-pointer-green.png"));
    background-repeat: no-repeat;
    background-position: 95% 50%;
    padding: em(5) em(41) em(6) em(16);
  }

  &__inner, &__contact {
    margin: 0 auto;
    padding-bottom: 3em;
    max-width: 960px;
  }
}

// =============================================================================
// tasks pages

.dgu-tasklist {

  &__title {
    margin: 0;
    width: 100%;
  }

  &__update-date {
    float: left;
    width: 6em;
  }

  &__alert {
    display: inline-block;
    padding-left: 10px;
    margin-left: 2px;
  }

  &__table {
    margin-bottom: 2em;

    thead td, tbody td {
      padding-left: .3em;
      padding-right: .3em;
    }
  }

  &__name-column {
    width: 65%;
  }

  &__update-by-column {
    width: 25%;
  }

  &__broken-links-column {
    width: 25%;
    padding-right: 5em !important;
    text-align: right;
  }

  &__actions-column {
    width: 10%;
  }

}


// =============================================================================
// user page

.dgu-user-details {
  li {
    margin-bottom: 1em;
  }
  &__label {
    display: inline-block;
    font-weight: bold;
    width: 8em;
  }
}

// =============================================================================
// confirm-delete-box

#confirm-delete-box {
  .confirm-delete-box__button {
    background-color: #b10e1e;
    margin-right: 20px;
  }
  .secondary-button {
    vertical-align: bottom;
  }
}
